
@model List<Watch>
@using Microsoft.Extensions.Options
@* kairos.data was removed from line below beause of namespace issues *@
@inject IOptions<Kairos.StripeSetting> Stripe


<div class="text-center">

    <form asp-action="Charge" asp-controller="Home" method="POST">
        <article>
        @{double amount =0;}
        @foreach (var w in Model)
        {
            amount += @w.Price;
        }
        <label> Amount: @amount</label>
        </article>
        <script src="//checkout.stripe.com/v2/checkout.js" 
                class="stripe-button" 
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="Sample Charge"
                data-amount="@amount">
        </script>
    </form>
</div>

<div class="container">
    <div class="navbar">
        <a asp-action="Shop">Back</a>  |  <a href="Logout">Logout</a>
    </div> 

<h1>Items in your shopping cart</h1>
    @foreach (var w in Model)
    {
        <div class="row">
            <h5>@w.Name</h5>
            <p>-</p>
            <h6>$@w.Price</h6>
            <div class="col-3">
                <a asp-action="Remove" asp-controller="Home">
                    <button type="submit" class="btn btn-danger">remove from cart</button>
                </a>
            </div>
        </div><br>
    }

