
@model List<Watch>
@using Microsoft.Extensions.Options
@* kairos.data was removed from line below beause of namespace issues *@
@inject IOptions<Kairos.StripeSetting> Stripe
<img src="~/images/banner.jpg" class="banner" alt="Banner not available">

@* ORIGINAL STRIPE --The SMALL ONE *@
<div class="text-center">
    <div class="container">
        <div class="navbar">
            <a class="btn" asp-action="Shop">Keep Shopping</a><a class="btn" href="Logout">Logout</a>
        </div> 

    <h1>Items in your shopping cart</h1>
        @if(Model.Count != 0)
        {
        @foreach (var w in Model)
        {
        <div class="row" style="margin-left: 30px;">
            <p>@w.Name</p>
            <p >- </p>
            <p>$@w.Price</p>
            <div class="col-3">
                <a asp-action="Remove" asp-controller="Home" asp-route-watchID="@w.WatchId">
                    <button type="submit" class="btn">remove from cart</button>
                </a>
            </div>
        </div><br>
        }
        }
        else
        {
            <h2>You dont have any items in your cart</h2>
        }
    </div>
</div>

<div class="text-center">
    <form asp-action="Charge" asp-controller="Home" method="POST">
        <article>
        @{double amount =0;}
        @foreach (var w in Model)
        {
            amount += @w.Price;
        }
        <label> Amount: $@amount</label>
        </article>
        <script src="//checkout.stripe.com/v2/checkout.js" 
                class="stripe-button" 
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="Sample Charge"
                data-amount="@amount">
        </script>
    </form>
</div>