
@model List<Watch>
@using Microsoft.Extensions.Options
@* kairos.data was removed from line below beause of namespace issues *@
@inject IOptions<Kairos.StripeSetting> Stripe

<img src="~/images/banner.jpg" class="banner" alt="Banner not available">

@* <link rel="stylesheet" type="text/css" href="css/example3.css" data-rel-css="" /> *@
@* Stripe template stuff ends here *@

<div class="container">
    <div class="navbar">
        <a asp-action="Home">Home</a>  |  <a href="Logout">Logout</a>
    </div> 

@* ORIGINAL STRIPE --The SMALL ONE *@
<div class="text-center">
<div class="container">
    <div class="navbar">
        <a class="btn" asp-action="Shop">Back</a><a class="btn" href="Logout">Logout</a>
    </div> 

<h2>Items in your shopping cart:</h2>
    <div>
    @foreach (var w in Model)
    {
        <div class="row text-center" style="padding-left: 30px;">
            <p>@w.Name</p>
            <p> - </p>
            <p>$@w.Price</p><br>
            <div class="col-3">
                <a asp-action="Remove" asp-controller="Home">
                    <button type="submit" class="btn">remove from cart</button>
                </a>
            </div>
        </div><br>
    }
    </div>

<div class="text-center">
    <form asp-action="Charge" asp-controller="Home" method="POST">
        <article>
        @{double amount =0;}
        @foreach (var w in Model)
        {
            amount += @w.Price;
        }
        <label> Amount: $@amount</label>
        </article>
        <script src="//checkout.stripe.com/v2/checkout.js" 
                class="stripe-button" 
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="Sample Charge"
                data-amount="@amount">
        </script>
    </form>
</div>


@* ORIGINAL STRIPE --The SMALL ONE .  ENDS HERE *@


<h1 data-tid="elements_examples.intro.title" class="common-SuperTitle">Check Out</h1>
        <p data-tid="elements_examples.intro.subtitle" class="common-IntroText">Please enter your credit card information</p>
        <p class="common-ButtonGroup">
        <a data-tid="elements_examples.intro.button_learn_more" href="https://stripe.com/elements" class="common-Button common-Button--default">
        Check-Out
        </a>
        <a data-tid="elements_examples.intro.button_docs" href="https://stripe.com/docs/stripe-js" class="common-Button" ="elements_docs">
        Sample Charge
        </a>
  


<h1>Items in your shopping cart</h1>
@if(Model.Count != 0)
{
    @foreach (var w in Model)
    {
        <div class="row">
            <h5>@w.Name</h5>
            <p>-</p>
            <h6>$@w.Price</h6>
            <div class="col-3">
                <a asp-action="Remove" asp-controller="Home" asp-route-watchID="@w.WatchId">
                    <button type="submit" class="btn btn-danger">remove from cart</button>
                </a>
            </div>
        </div><br>
    }
}
else
{
    <h2>You dont have any items in your cart</h2>
}